main{
  height: 100vh;
}


section h1 {
  color: rgb(240, 76, 76);
   font-weight: 900;
   padding-bottom: 200px;
}
section h3 {
  color: aliceblue;
  font-weight: 900;
  

} 
section p {
  color: aliceblue;
  font-size: large;
  font-weight: 500;
  padding-bottom: 150px;

}
section {
  text-align: center;
  padding-top: 200px;

}
section span {
  color: aquamarine;
}

body {
  background :linear-gradient(176deg,rgb(18,24,27) 50%,rgb(32,39,55) 100%) ;

}

.footer {
  height: 20vh;
  background :linear-gradient(176deg,rgb(20, 23, 24) 50%,rgb(43, 55, 83) 100%) ;
  text-align: center;
 color: aliceblue;
}
.footer  p{ 
  padding-top: 50px;
  font-size: large;
  font-weight: 500;
}

.blog_main{
 display: flex;
 flex-direction: column;
 padding-left:15px ;
 
}

.blogs{
  background :linear-gradient(176deg,rgb(20, 23, 24) 50%,rgb(43, 55, 83) 100%) ;
  width: 90%;
  height: 30%;
  padding-right: 25px;
  border: 2px solid white;
  margin-top : 30px;
  
}

.blogs h4 {
  color: white;
  padding: 10px;
}

.blogs span {
  padding: 10px;
  color: white;
} 

.blogs p {
  padding: 10px;
  color: white;
}

.blog_content{
  height: 100vh;
}

.blog_content h1{
  color: aliceblue;
  padding: 15px;
}

.blog_content p {
  color: aliceblue;
  padding: 15px;
  font-size: large;
  font-weight: 500;
}


.search_bar {
  width: 50%;
  margin: 15px;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid seagreen;
}